<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="playground.develop.socialnote">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".base.NotesApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="HardcodedDebugMode">
        <activity
            android:name=".ui.TermsPolicyViewerActivity"
            android:parentActivityName=".ui.AboutActivity"
            android:theme="@style/EditorTheme" />
        <activity
            android:name=".ui.AboutActivity"
            android:label="@string/about_menu_item_label"
            android:parentActivityName=".ui.HomeActivity"
            android:theme="@style/EditorTheme" />
        <activity
            android:name=".ui.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/app_shortcuts" />
        </activity>
        <activity android:name=".ui.OnBoardingActivity" />
        <activity android:name=".ui.ProfileActivity" />
        <activity android:name=".ui.LikesActivity" />
        <activity
            android:name=".ui.PostDetailsActivity"
            android:label="@string/comments_toolbar_label"
            android:parentActivityName=".ui.FeedActivity"
            android:theme="@style/EditorTheme" />
        <activity
            android:name=".ui.CreatePostActivity"
            android:parentActivityName=".ui.FeedActivity"
            android:theme="@style/EditorTheme" />
        <activity
            android:name=".ui.FeedActivity"
            android:launchMode="singleTop" />
        <activity android:name=".ui.SettingsActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/MAP_API_KEY" />

        <receiver
            android:name=".receiver.RebootReceiver"
            android:directBootAware="true"
            tools:targetApi="n">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.NoteReminderReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.GeofenceReminderReceiver" />
        <receiver android:name=".receiver.NotificationReceiver" />

        <activity
            android:name=".ui.GeofencePickerActivity"
            android:label="@string/title_activity_location_map_actitivty">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="playground.develop.socialnote.ui.AddEditNoteActivity" />
        </activity>
        <activity android:name=".ui.RegisterActivity" />
        <activity
            android:name=".ui.AddEditNoteActivity"
            android:parentActivityName=".ui.HomeActivity"
            android:theme="@style/EditorTheme" />
        <activity android:name=".ui.HomeActivity" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/facebookProtocolScheme" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebookAppID" />

        <service
            android:name=".services.GeofenceService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".services.TimeReminderService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".services.InstantSyncService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".services.FMService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>